@media screen and (max-width: 600px) {
    * {
        /* outline: 2px solid rgb(0, 0, 0); */
    }


    body {
        outline: 2px solid rgb(6, 39, 255);
    }

    /* ASIDE  */
    aside.aside {
        width: 100vw;
        overflow: hidden;
    }

    .aside .logo {
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }

    .aside .nav-items {
        display: none;
    }

    .aside .mobile-nav {
        display: block;
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .aside .mobile-nav .m-nav-list {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        background-color: black;
        padding-left: 15px;
    }

    .m-nav-list li {
        /*  */
    }

    /* HOME  */

    #home .home-intro {
        flex-direction: column;
        padding: 0;
        padding-top: 7rem; 
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #home .home-intro h1 {
        font-size: 1.9rem;
        line-height: 43px;
    }

    #home .home-intro .home-img {
        width: 15rem;
        overflow: hidden;
    }
    #home .home-intro .text-container 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .4rem;
    }
    #home .home-intro .text-container .btn
    {
        width: 7rem;
        height: 2.8;
        font-size:15px;
    }

    #home .home-intro .home-img img {
        width: 100%;
    }

    /* About  */
    #about {
        flex-direction: column;
    }

    #about .about-media video {
        margin: 0;
        width: 10rem;
    }

    #about .desc,
    #about .desc li {
        width: 10rem;
    }

    /* SERVICES  */
    #services .services-top p {
        width: 20rem;
    }

    /* CONTATCT  */
    .contact-form-top {
        width: 100vw;
        overflow: hidden;
    }

    #contact .contact-bot {
        width: 100vw;
        overflow: hidden;
    }

    #contact .contact-top h1 {
        font-size: 1.5rem;
    }

    #contact .contact-top p {
        font-size: 1rem;
    }

    #contact .contact-form-top .flex {
        flex-direction: column;
    }

    #contact .contact-bot .contact-form .c-input,
    .contact-form .c-text-area {
        width: 8rem;
    }

}