@media screen and (max-width: 600px) {
    * {
        /* outline: 2px solid rgb(0, 0, 0); */
    }


    body {
        outline: 2px solid rgb(6, 39, 255);
    }

    /* ASIDE  */
    aside.aside {
        width: 100vw;
        overflow: hidden;
    }

    .aside .logo {
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }

    .aside .nav-items {
        display: none;
    }

    .aside .mobile-nav {
        display: block;
        position: fixed;
        top: 4rem;
        left: 0;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    .aside .mobile-nav .m-nav-list {
        width: 100%;
        padding: 0;
        margin: 0;
        left: 0;
        background-color: black;
        padding-left: 15px;
    }

    .aside .mobile-nav li {
        padding: 7px 5px;
    }

    .aside .mobile-nav .m-nav-list .btn {
        padding-block: 0px;
        height: 2.4rem;
        font-size: 15px;
        width: 8rem;
    }

    /* HOME  */

    #home .home-intro {
        flex-direction: column;
        padding: 0;
        padding-top: 8rem;
        padding-bottom: 1.5rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #home .home-intro h1 {
        font-size: 1.9rem;
        line-height: 43px;
    }

    #home .home-intro .home-img {
        width: 15rem;
        overflow: hidden;
    }

    #home .home-intro .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .4rem;
    }

    #home .home-intro .text-container .btn {
        width: 7rem;
        height: 2.8;
        font-size: 15px;
    }

    #home .home-intro .home-img img {
        width: 100%;
    }

    /* About  */
    #about {
        flex-direction: column;
        padding: 0;
    }

    #about .about-media {
        width: fit-content;
        display: none;
    }

    #about .about-media video {
        margin: 0;
        width: 100vw;
        height: 200px;
    }

    #about .about-info {
        gap: 1rem;
    }

    #about .desc,
    #about .desc li {
        width: 90vw;
    }

    #about .about-info h1.about-heading {
        font-size: 2rem;
    }

    #about .about-info h2.about-heading {
        font-size: 1.4rem;
    }

    #about .desc,
    li {
        font-size: 13px;
        line-height: 20px;
    }

    /* SERVICES  */
    #services {
        padding: 0;
        padding-top: 1rem;
        margin-block: 30px;
    }

    #services .services-top h1 {
        font-size: 2rem;
    }

    #services .services-top p {
        width: 20rem;
        font-size: 11px;
    }

    #services .services-bot .services-card-container .services-card {
        padding: 10px;
        margin: 10px;
        width: 92vw;
        padding-block: 5px;
        margin-block: 13px;
    }

    #services .services-bot .services-card-container .card-top img {
        width: 15rem;
        border-radius: 4px;
    }

    #services .services-bot .services-card-container .card-bot p {
        font-size: 10px;
    }

    .services-bot .services-card-container .card-bot h1 {
        font-size: 24px;
        padding: 3px 0;
    }

    /* //Transoparent  */
    .transparent-background {
        height: 15rem;
    }

    .transparent-div p {
        font-size: 14px;
    }

    .transparent-div .btn {
        font-size: 20px;
    }

    .transparent-div h2 {
        font-size: 33px;
        margin: 10px;
    }

    /* CONTATCT  */
    #contact 
    {
        scroll-margin-top: 1rem;
    }
    .contact-form-top {
        width: 100vw;
        overflow: hidden;
        text-align: center;
    }

    #contact .contact-bot {
        width: 100vw;
        overflow: hidden;
        text-align: center;
    }

    #contact .contact-top h1 {
        font-size: 1.5rem;
        text-align: center;

    }

    #contact .contact-top h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    #contact .contact-top p {
        font-size: 11px;
        text-align: center;
        width: fit-content;
        padding: 0;
    }

    #contact .contact-bot .bot-left img {
        width: 3rem;
        display: none;
        /* margin-top: -7rem; */
    }

    #contact .contact-form-top .flex {
        flex-direction: column;
    }

    #contact .contact-bot .contact-form .c-input,
    .contact-form .c-text-area {
        width: 16rem;
    }

    /* footer */
    footer {

        padding: 15px;
        gap: 0rem;
        font-size: 14px;
    }

    footer .footer-nav li:first-child {
        width: 68px;
    }

    .back-to-top {
        right: 20px;
        bottom: 25px;
        width: 2rem;
        height: 2rem;
    }
}